/* ========================================================
                     Global Settings
======================================================== */

body {
    font-size: $f-normal;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    color: $c-dark;
    text-decoration: none;
}
