/* ========================================================
                          Varribles
======================================================== */

/*--------------------- Colors (basic) ------------------*/
$c-light: #FFF;
$c-dark: #333;

/* ---------------- Colors (special palette) ----------- */


//ADDITON => Colors picked from coolors.co generator!

/*------------------------- Fonts ----------------------*/


/*----------------------- Font sizes -------------------*/
$f-small: 12px;
$f-normal: 14px;
$f-large: 24px;

/*----------------------- Transitions ------------------*/
$t-fast: .2s ease;
$t-normal: .3s ease;
$t-long: .4s ease;


//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~~~~~~~~~~~~~~ DOCUMENTATION ~~~~~~~~~~~~~~~~~~~~~//
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~//
/*
                    c- = color
                    f- = font
                    t- = transition
*/